{% extends 'base.html.twig' %}

{% block title %}Welcome to your therapy!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="listPlayers_title">List of players</h1>
    <button class="btn btn-lg btn-danger"><a class="march_link" href="{{path('main')}}">Back</a></button>  
       <button class="btn btn-lg btn-danger profil_button"><a class="profil_link" href="{{path('profile')}}">Your Profile</a></button>
<div class="players">
    <table class="table">
            <tbody>
            {% for player in players %}
                <tr>
                    <td class="table-light">{{player.name}}</td>
                    <td class="table-light col-md-1">
                        <a href="{{path('player_view', {'id': player.id})}}">
                        <span id="boot-icon" class="bi bi-eye" style="font-size: 16px; color: rgb(0, 0, 0); -webkit-text-stroke-width: 1px;"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
</div>

    
    
</div>
{% endblock %}
